.Navbar {
  background-color: #0745a6;
  /* height: 4rem; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2.5rem;
}

.Logo {
  margin-right: 3rem;
  height: 1.8rem;
  width: auto;
}
.Input_box {
  display: flex;
  align-items: center;
  background: #396bb8;
  width: 40%;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 500px) {
  .Input_box {
    width: 100%;
    margin-left: 0;
  }
}
.Input {
  border: none;
  outline: none;
  background: #396bb8;
  color: #fff;
  padding: 1rem;
  height: 100%;
  font-size: 16px;
  width: 100%;
  margin-right: auto;
}
.Input::placeholder {
  color: #fff;
}
.Button_box {
  margin-top: 1rem;
  margin-left: auto;
}
.Btn_outline {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.Btn_nooutline {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  background-color: #5cc784;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .Btn_nooutline {
    margin: 0;
  }
  /* .Btn_outline {
    margin: 0;
  } */
}
