*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow: hidden;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  overflow: hidden;
}

.Main_wrapper {
  overflow: hidden;
  position: relative;
  padding: 0.5rem 7rem;
  /* height: 2000vh; */
}
@media only screen and (max-width: 500px) {
  .Main_wrapper {
    padding: 0;
  }
}
.Back_Icon {
  top: 2rem;
  left: 3rem;
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
}
@media only screen and (max-width: 500px) {
  .Back_Icon {
    display: none;
  }
}

.Wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
