.Imex {
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #ebebeb;
  display: inline-block;
  margin: 0.5rem 0;
  margin-right: 3rem;
}
.Imex_span {
  padding: 0.7rem 0;
  /* height: 100%; */
  color: #777;
  cursor: pointer;
}
.Imex_span:first-child {
  border-right: 1px solid #ebebeb;
  margin-right: 1rem;
  padding-right: 1rem;
}

.Input_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Input_box {
  background-color: #f8f8f8;
  height: 2.5rem;
  display: flex;
  width: 20rem;
  align-items: center;
  /* padding: 0.8rem 1rem; */
  margin: 1rem 1rem 1rem 0;
}
.Input {
  border: none;
  outline: none;
  background-color: #f8f8f8;
  width: 100%;
  margin-left: 0.8rem;
  font-size: 16px;
}
select {
  color: #777;
  padding: 0 1rem;
}

.Icon {
  margin-left: 1rem;
}
